html, body {
    color: #f9f9f9;
    background-color: #262835;
    font-family: 'Raleway', sans-serif;
}

html, body.fullscreen {
    height: 100%;
}

h1, h2 {
    padding-left: 5px;
    padding-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    padding-top: 30px;
    color: #fa9b64;
}

h2 {
    color: #fad0b5;
}

h3 {
    color: #ffefe6;
}

.content {
    background-color: rgba(45, 51, 63, 0.80) !important;
}

.midscreen {
    padding: 30px;
}

a {
    color: #6bd5e7 !important;
    cursor: pointer;
}

a:hover {
    color: #6bd5e7;
}

.emp {
    color: #ff8c8c;
}

.error {
    padding-left: 10px;
    color: #ff8c8c;
}

.error+input, .error+select {
    float: left;
}

td {
    color: #f9f9f9;
    padding: 10px 0px 10px 0px;
}

thead {
    color: #f9f9f9;
    border-bottom: #999999;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

tbody tr:nth-child(odd) {
    background-color: #424d6546;
}

tbody tr:hover {
    background-color: #262835;
}

span.info {
    color: #fad0b5;
    font-weight: normal;
    /* font-style: italic; */
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-top-color: #262835;
    border-top-width: 5px;
    border-top-style: dotted;
    margin-top: 60px;
    padding: 0px 0px 20px 0px;
}
