<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="fragments/head :: header"></head>

<body class="fullscreen">

    <div class="container d-flex h-100 flex-column">
        <div class="row flex-fill">
            <div class="col align-self-center content midscreen">

                <h2 th:inline="text">City</h2>

                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td th:text="${cityInfo.getId()}"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td th:text="${cityInfo.getName()}"></td>
                    </tr>
                    <tr>
                        <td>County Code</td>
                        <td th:text="${cityInfo.getCountryCode()}"></td>
                    </tr>
                    <tr>
                        <td>Country Name</td>
                        <td th:text="${cityInfo.getCountryName()}"></td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td th:text="${cityInfo.getDistrict()}"></td>
                    </tr>
                    <tr>
                        <td>Population</td>
                        <td th:text="${cityInfo.getPopulation()}"></td>
                    </tr>
                    <tr>
                        <td>Local Weather</td>
                        <td th:inline="text">[[${cityInfo.getTemp()}]] °F</td>
                    </tr>
                    <tr>
                        <td>Local Time</td>
                        <td th:text="${cityInfo.getTime()}"></td>
                    </tr>
                </table>

                <hr />
                <form action="#" th:action="@{/cities/reservation}" method="post">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Select Your Getaway:</label>
                        <div class="col">
                            <span class="error"></span>
                            <select class="form-control custom-select col-sm-6" name="level">
                                <option value="luxury">Luxury</option>
                                <option value="moderate">Moderate</option>
                                <option value="budget">Budget</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Email:</label>
                        <div class="col">
                            <span class="error"></span>
                            <input type="email" name="email" class="form-control col-sm-6" required="true" />
                        </div>
                    </div>
                    <input type="hidden" name="city" th:value="${cityInfo.getName()}" />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>

</body>

</html>